body{
    margin:0;
    font-family: Arial, sans-serif;
    overflow:hidden;
}

#menuPrincipal{
    width:100%;
    height:100vh;
    background:url("portada.PNG") no-repeat center center;
    background-size:cover;
    position:relative;
}

.oscuro{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.contenido{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
}

h1{
    font-size:40px;
    margin-bottom:30px;
}

button{
    display:block;
    margin:10px auto;
    padding:12px 30px;
    font-size:18px;
    border:none;
    background:#d4a017;
    cursor:pointer;
}