body {
  background: #121212;
  color: white;
  font-family: Arial;
}

.container {
  display: flex;
}

.stats {
  width: 250px;
  background: #1f1f1f;
  padding: 20px;
}

.event {
  flex: 1;
  padding: 40px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: crimson;
  border: none;
  color: white;
  cursor: pointer;
}