body {
  background: #121212;
  color: white;
  font-family: Arial;
}

.container {
  display: flex;
}

.stats {
  width: 250px;
  background: #1f1f1f;
  padding: 20px;
}

.event {
  flex: 1;
  padding: 40px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: crimson;
  border: none;
  color: white;
  cursor: pointer;
}

body{
    margin:0;
    font-family: Arial, sans-serif;
    overflow:hidden;
}

#menuPrincipal{
    width:100%;
    height:100vh;
    background:url("../assets/images/portada.jpg") no-repeat center center;
    background-size:cover;
    position:relative;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.menuContenido{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
}

h1{
    font-size:60px;
    margin-bottom:40px;
}

button{
    display:block;
    margin:15px auto;
    padding:15px 40px;
    font-size:20px;
    border:none;
    cursor:pointer;
    background:#d4a017;
    color:black;
    transition:0.3s;
}

button:hover{
    background:#ffcc00;
}